
// *{
//     padding: 0;
//     margin: 0;
// }

// body,html{
//     font-family: 'Rubik';
//     height: 100%;
// }

// body{
//     font-size: 16px;
//     color: #405169;
//     font-weight: 300;
// }


.container--signup{
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    background: #F9FAFF;
}

.my-form{
    width: 450px;
    background-color: $white;
    padding: 3rem;
    padding-top: 1.5rem ;
}

.signup--logo{
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: auto;
    background-color: $primary;
}

.signup--logo span{
    color:$white;

}

.signup--form-tile{
    margin-top: 1.4rem;
    margin-bottom: 0;
    color: #2E384D;
    @extend .fw-600;
}

.signup-subtitle{
    margin-bottom: 3rem;
    color: $black;
    opacity: 0.5;
    font-size: .9375rem;
    font-weight: normal;
}

.form-group{
    margin-bottom: 0.2rem;

}

label{
    display: inline-block;
    margin-bottom: 0 !important;
    font-size: .75rem !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    padding: 0;
    line-height: 1.8 !important;
}

.form-group small {
    text-align: right;
    display: block;
    color: $black;
    opacity: 0.5;
    margin-top:0.2rem;
}

.form-control{
    display: block;
    width: 100%;
    padding: .385rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #2E384D;
    background: #DDE9FB;
    border: 1px solid #DDE9FB;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn{
    background-color: #4C60EB;
    color: #ffffff;
    border-radius: 0.25rem;
    font-weight: normal;
    cursor: pointer;
}

.sign-btn {
    margin-top: 1rem;
    width: 100% !important;
    border-radius: 0.25rem !important;
    padding: .80rem .75rem;
    border: 0;
}
.sign-up-text{
    display: block;
    margin-top: 1rem;
    margin-bottom: 0;
    opacity: 1;
    text-align: center;
    
}

.sign-up-text span{
        opacity: 0.5;
}


.sign-up-text a{
        text-decoration: none;
        color: #4C60EB;
}